config/i3/local.config

config/kitty/colors.conf
config/kitty/*.session

config/lazygit/*
!config/lazygit/config.yml

config/lvim/*
!config/lvim/config.lua

config/nvim/lazy-lock.json

config/tmux/*
!config/tmux/tmux.conf
