config/i3/local.config
config/sway/local.config
config/waybar/config

config/kitty/local.conf
config/kitty/*.session

config/lazygit/*
!config/lazygit/config.yml

config/mpv/fonts
config/mpv/scripts/uosc

config/zsh/.cache
config/zsh/.cmds
config/zsh/.stfolder
config/zsh/.stignore
config/zsh/.zcompcache
config/zsh/.zcompdump
config/zsh/.zdirs
config/zsh/.zprofile
config/zsh/.zsh_history
config/zsh/.zshrc.pre
config/zsh/completions
config/zsh/conf.d/private.zsh
config/zsh/conf.d/z.zsh
