@import "colors/macchiato.css";

* {
  border: none;
  border-radius: 0;
  font-family: "IosevkaSS08 Nerd Font Propo";
  font-weight: 500;
  font-size: 16px;
  color: @text;
}

window#waybar {
  background: alpha(@base, 0.8);
  border-bottom: 1px solid @surface0;
  color: @text;
}

#window {
  padding-left: 12px;
  margin-left: -24px;
}

tooltip {
  background: @base;
  border: 1px solid @lavender;
}
tooltip label {
  color: @text;
}

#workspaces button {
  padding: 0 2px;
  margin: 0 6px;
  background: transparent;
}

#workspaces button.focused {
  background: alpha(@base, 0.5);
  border-bottom: 2px solid @rosewater;
  padding-top: 2px;
}

#workspaces button.urgent {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode,
#clock,
#battery {
  padding: 0 10px;
}

#mode {
  background: @yellow;
  color: @crust;
}

#clock {
  background-color: alpha(@base, 0.5);
  border-bottom: 2px solid @unfocused_borders;
}

#battery {
  background-color: @mantel;
}

#temperature.critical {
  color: @red;
}

@keyframes blink-green {
  to {
    background-color: alpha(@green, 0.25);
  }
}

@keyframes blink-lavender {
  to {
    background-color: alpha(@lavender, 0.25);
  }
}

@keyframes blink-red {
  to {
    background-color: alpha(@red, 0.75);
  }
}

#battery.charging {
  animation-name: blink-green;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery:not(.charging) {
  animation-name: blink-lavender;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  animation-name: blink-red;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
