@import "colors/macchiato.css";

* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka SS08", "Symbols Nerd Font Mono";
  font-weight: 500;
  font-size: 16px;
  color: @text;
}

window#waybar {
  background: alpha(@base, 0.8);
  border-bottom: 1px solid @surface0;
  color: @text;
}

#window {
  padding-left: 12px;
  margin-left: -24px;
}

tooltip {
  background: @base;
  border: 1px solid @lavender;
}
tooltip label {
  color: @text;
}

#workspaces button {
  padding: 0 4px;
  margin: 0 8px;
  background: transparent;
  border-bottom: 2px solid transparent;
  padding-top: 2px;
  transition: all 0.25s ease-out;
}

#workspaces button.focused {
  background: alpha(@base, 0.5);
  border-bottom: 2px solid @rosewater;
}

#workspaces button.urgent {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.modules-right {
  padding-right: 16px;
}

#mode,
#clock {
  padding: 0 8px;
}

#mode {
  background: @red;
  color: @crust;
}

/* #clock { */
/*   background-color: alpha(@base, 0.5); */
/*   border-bottom: 2px solid @unfocused_borders; */
/* } */

#battery {
  background-color: @mantel;
}

#pulseaudio.mic:not(.source-muted) {
  color: @yellow;
}

@keyframes blink-lavender {
  to {
    background-color: alpha(@lavender, 0.25);
  }
}
@keyframes blink-green {
  to {
    background-color: alpha(@green, 0.25);
  }
}
@keyframes blink-red {
  to {
    background-color: alpha(@red, 0.75);
  }
}

#battery:not(.charging):not(.full),
#battery.charging,
#battery.warning:not(.charging),
#temperature.critical {
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 0 12px;
}
#battery:not(.charging):not(.full) {
  animation-name: blink-lavender;
  animation-duration: 1.5s;
}
#battery.charging {
  animation-name: blink-green;
  animation-duration: 1s;
}
#battery.warning:not(.charging) {
  animation-name: blink-red;
  animation-duration: 0.5s;
}

#temperature.critical {
  animation-name: blink-red;
  animation-duration: 0.5s;
}
