set $mode_gaps Gaps: +|-|r|0 (local), Shift +|-|r|0 (global)
bindsym $mod+Shift+g mode "$mode_gaps"

mode "$mode_gaps" {
  bindsym plus  gaps horizontal current plus  10
  bindsym minus gaps horizontal current minus 10
  bindsym r     gaps horizontal current set   575; mode "default"
  bindsym 0     gaps horizontal current set   5;   mode "default"

  bindsym Shift+plus  gaps horizontal all plus  10
  bindsym Shift+minus gaps horizontal all minus 10
  bindsym Shift+r     gaps horizontal all set   575; mode "default"
  bindsym Shift+0     gaps horizontal all set   5;   mode "default"

  bindsym Return       mode "default"
  bindsym Escape       mode "default"
  bindsym $mod+Shift+g mode "default"
  bindsym q            mode "default"
}

# vim: ft=i3config
